<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Web na Geek University</title>
    <style>
        body {
            background: rgb(223, 163, 164);
        }
    </style>
</head>
<body>
    <h1>FastAPI Web</h1>
    <div>
        <a href="/">Home</a>
        <a href="/servicos">Serviços</a>
    </div>
    <div class="container">
        <center>
            <p>Estamos na página Serviços</p>
        </center>
    </div>
</body>
</html>
